@import url('https://fonts.googleapis.com/css?family=Open+Sans');

html{
	font-family: 'Open Sans', sans-serif;
}

#header{
	color: rgb(204, 0, 43);
	background-color: white;
	text-align: center;
	padding: 5px;
	margin-bottom: 10px;
}

a{
	color: rgb(204, 0, 43);
	text-decoration: none;
}

#header p {
	text-align: right;
	font-size: 12px;
}

#myInput{
    width: -moz-calc(100%);
    width: -webkit-calc(100%);
    width: calc(100%);
    font-size: 16px; /* Increase font-size */
    min-width: 100px;
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 20px; /* Add some padding */
    border: 2px solid rgb(204, 0, 43);
    border-radius: 5px;
    background-color: white;
    color: rgb(204, 0, 43);
    margin-bottom: 12px; /* Add some space below the input */
}



#searchButton {
    width: 50px;
    min-width: 100px;
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 20px; /* Add some padding */
    border: 2px solid rgb(204, 0, 43);
    border-radius: 5px;
    background-color: white;
    color: rgb(204, 0, 43);
}

#searchButton:hover{
    background-color: #ddd;
}

#eStatus, #errorMessage {
	display: none;
	padding-left: 20px;
    padding-right: 20px;
	font-size: 14px;
}

#studentsTable {
    border-collapse: collapse; /* Collapse borders */
    width: 100%; /* Full-width */
    border: 1px solid #ddd; /* Add a grey border */
    font-size: 18px; /* Increase font-size */
}

#studentsTable th, #studentsTable td {
    text-align: left; /* Left-align text */
    padding: 20px; /* Add padding */
}

#studentsTable tr {
    /* Add a bottom border to all table rows */
    border-bottom: 1px solid #ddd; 
}

#studentsTable tr:nth-child(n+20) {
    /* Add a bottom border to all table rows */
    border-bottom: 1px solid #ddd; 
    display:none;
}

#studentsTable tr.header, #studentsTable tr:hover {
    /* Add a grey background color to the table header and on hover */
    background-color: #f1f1f1;
}

@media only screen and (max-width: 600px)  {
	/*Make this responsive on phones etc */

#eStatus, #errorMessage, #studentsTable{
	font-size: 12px;
}

#studentsTable th, #studentsTable td {
    padding: 5px; /* Reduce padding */
}
	
}